* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

.hidden {
    display: none;
    width: 0px;
    height: 0px;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(20, 150, 40);
}


.flex {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    height: 70%;
}

#lobbyDiv {
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

input {
    margin: 2px;
    font-size: 20px;
    border: 2px solid rgb(0, 70, 0);
    border-radius: 5px;
}

h1 {
    font-size: 100px;
    color: white;
}
